/* Responsive Design */

@media screen and (max-width:1250px) {
    .img {
        display: none;
    }
    .hero-write {
        width: 100%;
        height: 100px;
        margin-bottom: 10rem;
    }
    .hero-content {
        margin-top: 15rem;
    }
    .nav-list {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media screen and (max-width:1171px) {
    .about-cards {
        width: 100%;
    }
    .about-card {
        padding-top: 1rem;
    }
    .about-card p {
        font-size: 0;
    }
}

@media screen and (max-width:988px) {
    .test-text {
        width: 100%;
    }
    .nav-list {
        display: none;
    }
}

@media screen and (max-width:1010px) {
    .about-card {
        width: 5rem;
        height: 5rem;
    }
    .card-inner {
        padding-top: 0;
    }
    .card-back h3 {
        display: none;
    }
}

@media screen and (max-width:1630px) {
    .hero-content {
        margin-top: 10rem;
    }
}

@media screen and (max-width:950px) {
    .swiper-container {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .mention-container .col-1 {
        flex-direction: column;
    }
    .mention-container img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:660px) {
    .about-cards {
        width: 420px;
    }
    .container-about {
        margin-right: 0;
        margin-left: 0;
    }
    #hero-text {
        font-size: 3rem;
    }
    .about-h2 {
        padding-top: 2rem;
    }
}

@media screen and (max-width:430px) {
    .hero-content {
        margin-top: 7rem;
    }
    body,
    html {
        overflow-x: hidden;
    }
}

@media screen and (max-width:400px) {
    .subside {
        margin-top: 0;
    }
    .about-cards {
        width: 400px;
    }
    .mention-container p {
        font-size: 20px;
    }
    .mention-container {
        padding-bottom: 2rem;
    }
    nav {
        padding: 0.5rem;
    }
}